*,h1,h2,h3,h4,h5,h6,p,ul,a
{margin: 0;
padding: 0;}

*,
*:before,
*:after
{box-sizing: border-box;}

html,body
{overflow-x: hidden;}/* чтобы ничего не вылазило за границы элементов */

body
{font-family: 'Open Sans', sans-serif;
font-size: 15px;
line-height: 1.6;
display: flex;
min-height: 100vh;
flex-direction: column;}

main
{flex: 1;}

a
{color:#4a90e2 ;
text-decoration: none;
transition: all 0.3s ease;}

a:not(.btn):hover
{color: #004896a8;}

/* как должен выглядеть а после р */
p * a:not(.btn) 
{font-size: 13px;
font-weight: 700;} 

h1,h2,h3,h4,h5,h6
{line-height: 1.25;
font-weight: 300;
color: #252525;}

/* адаптация для моб.устройств */
h1
{font-style: 34px;}
h2
{font-style: 28px;}
h3
{font-style: 22px;}
h4
{font-style: 18px;}

/* адаптация для больших устройств */
@media (min-width:992px)
{h1
   {font-style: 44px;}
   h2
   {font-style: 33px;}
   h3
   {font-style: 26px;}
   h4
   {font-style: 20px;}}

img
{max-width:100%;}

.container
{max-width: 1280px;
width: 100%;
margin: 0 auto;
padding-right: 15px;
padding-left: 15px;}

.lead
{font-size: 16px;
color: #808080;
font-weight: 300;}

@media (min-width:992px)
{.lead{
   font-size: 19px;
}}


/* шапка */
.navbar
{position: absolute;
left: 0;
top: 0;
width:100% ;
height: 66px;
display: flex;
align-items: center;
z-index: 2;}

.navbar .container
{display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;}

.navbar-brand img
{max-width: 150px;}

.navbar-nav
{margin-left: auto;}

.navbar-nav ul
{display: flex;
list-style: none;
margin-right:-15px;
margin-left: -15px;}

.navbar-nav li
{padding-left: 15px;
padding-right: 15px;}

.navbar-nav li a
{color: #fff;
text-transform: uppercase;
font-size: 14px;
opacity: 0.6;
list-style: 0.5px;
transition: opacity 0.3s ease;}

.navbar-nav li a:hover
{color: #fff;
opacity: 1;}

/* адаптация для моб.устройств */
@media (max-width: 500px)
{.navbar-brand
{max-width: 100%;
width: 100%;
text-align: center;
padding-top: 25px;
margin-bottom: 10px;}

.navbar-brand img
{max-width: 130px;}

.navbar-nav
{margin: 0 auto;}}


/* баннер */
.hero
{position: relative;
display: flex;
align-items: center;
min-height: 70vh;
padding-top: 80px;
padding-bottom: 80px;
text-align: center;
background-size: cover;
background-position: center;}

.hero:before
{content: "";
left: 0;
top: 0;
width: 100%;
height: 100%;
opacity: 0.7;
position: absolute;
background-color: #252525;}

.hero h1
{margin-bottom: 24px;
color: #fff;
font-size: 40px;}

.hero .container
{position: relative;
max-width: 800px;}

.hero p
{margin-bottom: 35px;
color: #fff;
font-weight: 300;
opacity: 0.8;}

.btn
{display: inline-flex;
align-items: center;
justify-content: center;
height: 42px;
border-radius: 6px;
padding:5px 35px;
transition: 0.1s linear;}

.btn-primary
{background-color: #4a90e2;
color: #fff;
letter-spacing: 0.5px;
font-size: 13px;
text-transform: uppercase;}

.btn-primary:hover
{color: #609de6;
transform: translate3d(0, -2px, 0);
color: #fff;}


/* услуги */
.services
{display: flex;
align-items: center;
flex-wrap: wrap;
text-align: center;
margin-left: -15px;
margin-right: -15px;
padding: 40px;}

/* адаптация для моб.устройств */
.service-col
{max-width: 100%;
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-bottom: 30px;}

.service
{padding: 25px;
border: 1px solid #ececec;
border-radius: 6px ;}

.service img
{opacity: 0.6;
max-width:70px; 
margin-bottom: 24px;}

.service h4
{font-weight: 400;
margin-bottom: 12px;}

.service p
{max-width: 280px;
margin: 0 auto 30px auto;
font-size: 13px;
line-height: 1.7;}

@media (min-width: 768px) {
.service-col  
{width: 100%;
max-width:calc(100% / 3);
margin-bottom: 0px;}}

.img-shadow
{box-shadow: 0 23px 40px rgba(0, 0, 0, 0.2);}

.img-round
{border-radius: 6px;}


/* about */
.section-padding
{padding-top: 80px;
padding-bottom: 80px;}

.hero.hero-sm
{min-height: 40vh;}

.mb-0
{margin-bottom: 0 !important;}

/* о нас */
.split-section
{display: flex;
align-items: center;
flex-wrap: wrap;}

/* адаптация для моб.устройств */
.split-section-img
{order: -1;
margin-bottom: 40px;}

.split-section-img,
.split-section-text
{max-width: 100%;
width: 100%;}

.split-section h2,
.split-section p
{margin-bottom: 30px;}

@media (min-width:768px) {
.split-section
{margin-left: -25px;
margin-right: -2px;}

.split-section-img
{order: initial;
margin-bottom: 0;}

.split-section-img,
.split-section-text
{max-width:50% ;
width: 100%;
padding-left: 25px;
padding-right: 25px;}
}

/* contact */

.contact-form
{display: flex;
flex-wrap: wrap;
margin-right: -25px;
margin-left: -25px;}

.contact-form_info,
.contact-form_form
{padding-right: 25px;
padding-left: 25px;}

.contact-form_info
{order:-1;
margin-bottom: 30px;}

@media (min-width:768px) {
.contact-form_info,
.contact-form_form
{max-width:50% ;
width: 100%;}  

.contact-form_info
{order: initial;
margin-bottom:0 ;} 
}

/* форма */

.form-control
{width: 100%;
font-size: 16px;
background-color: #fcfcfc;
padding: 5px 15px;
border-radius: 6px;
border: 1px solid #ececec;
-webkit-appearance: none;}

.form-control:not(textarea)
{height: 44px;}

textarea.form-control
{padding-top: 10px;}

.form-layout
{display: flex;
flex-wrap: wrap;
margin-left: -15px;
margin-right: -15px;}

[class*='form-col']
{width: 100%;
padding-left: 15px;
padding-right: 15px;
margin-bottom: 15px;}

@media (min-width:768px) {
.form-col-50
{max-width: 50%;
width: 100%;}
}

label
{display: inline-block;
font-size: 12px;
color: #666666;
margin-bottom: 3px;}

textarea
{max-width: 100%;
min-width: 100%;
max-height: 200px;
min-height: 50px;}

/* футер */
.footer-row
{display: flex;
padding-top: 30px;
padding-bottom: 30px;
padding: 30px;
background-color: #f5f4f4;
max-width: 100%;
width: 100%;
position: absolute;
left: 0;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
color: rgb(145, 145, 145);}

.footer-copyright
{opacity: 0.6;}

